<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fyp.shopsmart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".customer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer.SignIn"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name=".employee.EmployeeMenu"
            android:label="@string/title_activity_employee_menu" >
        </activity>
        <activity
            android:name=".customer.ShoppingList"
            android:label="@string/title_activity_shopping_list" >
        </activity>
        <activity
            android:name=".customer.Spending"
            android:label="@string/title_activity_spending" >
        </activity>
        <activity
            android:name=".customer.BarcodeScan"
            android:label="@string/title_activity_barcode_scan" >
        </activity>
        <activity
            android:name="com.dm.zbar.android.scanner.ZBarScannerActivity"
            android:label="@string/app_name1"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".customer.Database"
            android:label="@string/title_activity_database" >
        </activity>
        <activity
            android:name="fyp.shopsmart.customer.Database"
            android:label="@string/title_activity_database" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
